<footer id="myFooter">
    <div class="d-flex justify-content-center">
        <p class="footer-copyright">© 2021 Copyright / {{ 'general.title' | translate }} / Elcio Junior ;]</p>
    </div>
    <div class="d-flex justify-content-around">
        <a href="https://www.facebook.com/elotechgestao/" target="_blank" class="text-muted"><i-bs name="facebook" width="38" height="38"></i-bs></a>
        <a href="https://www.instagram.com/elotechgestao/" target="_blank" class="text-muted"><i-bs name="instagram" width="38" height="38"></i-bs></a>
        <a href="https://www.youtube.com/user/CanalElotech" target="_blank" class="text-muted"><i-bs name="youtube" width="38" height="38"></i-bs></a>
        <a href="https://www.linkedin.com/company/elotechgestao" target="_blank" class="text-muted"><i-bs name="linkedin" width="38" height="38"></i-bs></a>
    </div>
</footer>
